/app.js
/bnck - Copy.csv
/bookInfo.txt
/bookname.txt
/data.json
/data2.json
/data3.json
/demo.js
/destn.csv
/fetchdata.txt
/index.html
/myjsonfile-1.json
/myjsonfile-2.json
/myjsonfile-3.json
/myjsonfile-4.json
/myjsonfile-5.json
/myjsonfile-6.json
/myjsonfile.json
/New folder
/new.txt
/node_modules
/source.csv
/test.csv
/test.js
/test.txt
/testbnck.csv